:root {
  --primary-color: #24523b;
  --secondary-color: hsl(155, 34%, 70%);
  --tertiary-color: #328464;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.bg {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(images/bg-large.png);
  background-repeat: none;
}

.hero {
  padding: 80px 0px 160px;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  text-align: center;
}
.page-title {
  padding: 0px 0px 40px;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.emoji {
  animation: rotate 1s infinite;
  text-align: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: ease-in-out 200ms;
}
.primary-link:hover {
  color: white;
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.content-paragraphs {
  margin: 30px 0;
}

.content-paragraphs p {
  margin: 10px;
}

.contact-link {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 28px;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

img {
  border-color: white;
  border-style: solid;
  border-width: 5px;
}
footer {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}
footer .row {
  align-items: center;
}
/* Social Icons */
.fa {
  padding: 20px;
  font-size: 30px;
  text-decoration: none;
  border-radius: 4px;
  align-content: center;
}
.fa-instagram,
.fa-twitter,
.fa-github {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.fa-instagram:hover,
.fa-twitter:hover,
.fa-github:hover {
  background-color: var(--tertiary-color);
  color: white;
}
/* Responsive CSS */
@media screen and (max-width: 516px) {
  .img0 {
    content: url(images/poem-mobile.gif);
  }
  .img1 {
    content: url(images/weather-mobile.png);
  }
  .img2 {
    content: url(images/clock-mobile.gif);
  }
  .bg {
    background-image: url(images/bg-mobile.png);
    background-repeat: repeat-y;
  }
  .primary-link {
    display: block;
    padding: 15px 10px;
    text-align: center;
  }
  h1 {
    padding: 10px;
    font-size: 64px;
  }
  h2 {
    font-size: 36px;
    text-align: center;
  }
  h3 {
    font-size: 16px;
  }
  .content {
    text-align: center;
  }
  img {
    border-color: white;
    border-style: solid;
    border-width: 2px;
  }
  .fa {
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
}
