:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.hero {
  padding: 80px 0px 160px;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: "Tomorrow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
.page-title {
  padding: 0px 0px 40px;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}
.my-line {
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.emoji {
  display: inline-block;
  animation: rotate 1s infinite;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
@media screen and (max-width: 516px) {
  .img0 {
    content: url(images/poem-mobile.gif);
  }
  .img1 {
    content: url(images/weather-mobile.png);
  }
  .img2 {
    content: url(images/clock-mobile.gif);
  }
  .primary-link {
    display: block;
    padding: 15px 10px;
    text-align: center;
  }
  h1 {
    padding: 10px;
    font-size: 72px;
  }
  h3 {
    font-size: 18px;
  }
  .content {
    text-align: center;
  }
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.content-paragraphs {
  margin: 30px 0;
}

.content-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
